# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache and checkpoints
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# OS files
Thumbs.db
db.db
.DS_Store

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
# Scripts
scripts/
